.menu {
  background-color: var(--cyan);

  width: 100vw;
  height: 150vh;
  position: fixed;
  z-index: 2;
  transition: 250ms;
  right: 0;
  margin: 0;
}

.menu-closed {
  right: 100vw;
  
}

#close-menu {
  position: absolute;
  top: 15px;
  right: 20px;
}

.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 350px;
  padding: 0;
  margin: 0 auto;
}

.menu ul li {
  font-weight: 500;
  font-size: 23px;
  padding: 15px;
  text-align: center;
  
}

.menu a:active {
  color: #E72485;
}

.menu a {
  color: #fff;
}