.main {
  overflow: hidden;
  position: relative;
  min-height: 740px;
  z-index: 0;
  background-image: url('../../../public/main-background.png');
  background-size: contain;
  
}

.main span {
  font-weight: 500;
  font-family: 'Rubik';
}

#container__main {
  align-items: center;
  flex-direction: column;
  margin-top: 35px;
  height: 100%;
  gap: 50px;
  
}

.main__block {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.br {
  display: inline-block;
  width: 100px;
  margin: 0 30px 7px 30px;
  border-bottom: 4px solid var(--cyan);
}

.main__block__title {
  font-size: 26px;
  color: var(--cyan);
  font-weight: 600;
  width: 100%;
}

.main__block_left {
  display: flex;
  flex-direction: column;
  max-width: 650px;
}

.main__block_left h1{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
}

.main__block_left strong{
  color: var(--pink);
}

.main__block_left button {
  background: var(--pink);
  border: 4px solid var(--pink);
  color: #fff;
}

.main__block_left button:hover {
  background: #db227e;
}

.main__block_left button:active {
  background: #211e20;
  border: 4px solid #000;
  color: #fff;
}

.main__block_left p {
  max-width: 600px;
  max-height: 600px;
  font-size: 18px;
  margin: 0;
}

.main__block_left div {
  margin-top: 30px;
  align-items: center;
  color: var(--pink);
  font-weight: 500;
  display: flex;
  gap: 15px;
}

.main__block_right {
  position: relative;
}

.main__block_right img {
  border-radius: 30px;
  /* height: 500px; */
  /* width: 500px; */
}

#deco__main {
  position: absolute;
  top: -60px;
  right: -100px;
  width: 400px;
  /* z-index: -1; */
}

@media screen and (max-width: 1200px) {
  .main__block_left h1{
    font-size: 40px;
  }

  #container__main {
    flex-direction: column;
    justify-content: center;
  }

  .br {
    width: 20px;
  }

  .main-right {
    display: none;
  }

  .main__block_left {
    margin: 0 25px 0 25px;
    max-width: 600px;
  }

  .main__block_left div {
    display: flex;
    flex-direction: row;
  }

  .main__block_right img {
    min-width: 340px;
  }
}

@media screen and (max-width: 960px) {
  .main__block {
    flex-direction: column-reverse;
  }

  .br {
    display: block;
    border-bottom:  none;
    height: 30px;
    border-left: 4px solid var(--cyan);
    margin: 10px auto;
  }

  .main__block__title {
    text-align: center;
    padding-bottom: 50px;
  }

  .main__block_left h1{
    font-size: 27px;
  }

  .main__block_left  {
    max-width: none;
    margin: 0;
  }
  
  .main__block_left div {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .main__block_left button {
    width: 100%;
  }

  .main__block_right img {
    min-width: 0;
  }

  #deco__main {
    display: none;
  }
}

@keyframes showup {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
