.pricing {
  /* background-color: #fdeee5; */
  position: relative;
  background-image: url("../../../public/main-background.png");
  background-size: cover;
}

#container__pricing {
  display: flex;
  flex-direction: column;
}

#container__pricing h2 {
  padding: 50px 0 50px 0;
}
.container__pricing_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Rubik";
  font-size: 21px;
  font-weight: 300;
  line-height: 30px;
  color: #000;

  margin-bottom: 50px;
}

.container__pricing_items .colored-span {
  display: block;
  font-weight: 600;
  padding-bottom: 20px;
}

.container__pricing_item {
  display: flex;
}

.container__pricing_items .container__pricing_item::before {
  display: inline-block;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50px;
  border: 6px solid #e72485;
  margin-right: 10px;
}

@media screen and (max-width: 1100px) {
  .container__pricing_items {
    flex-direction: column;
    gap: 50px;
  }
}
