.contact {
  position: relative;
  /* height: 400px; */
  background-color: #383737;
}

.contact_info {
  display: flex;
  justify-content: space-between;
}

.contact_info_socials {
  display: flex;
  color: #fff;
}

.contact_info_socials h4 {
  font-size: 24px;
  font-weight: 500;
}

.contact_info_socials div {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
}

.contact_info_socials div span img {
  margin-right: 15px;
}

.contact_info_socials div span {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.contact_info_socials div span a {
  color: #fff;
  display: flex;
  align-items: center;
}

.contact_info_socials div span a:hover {
  color: #e72485;
  display: flex;
  align-items: center;
}

.location {
  background-image: url('../../../public/location.png');
  background-size: contain;
  /* width: 650px; */
  /* height: 400px; */
}

#contact_button {
  position: absolute;
  border-color: #fff;
  background-color: #383737;
  color: #fff;
  left: 500px;
  bottom: 100px;
}

#contact_logo {
  margin: 50px ;
}

.map {
  height: 400px;
  width: 700px;
}

@media screen and (max-width: 1100px) {
  #contact_button {
    display: none;
  }

  .contact_info {
    display: flex;
    flex-direction: column;
  }

  .map {
    height: 400px;
    width: 100%;
  }

  #contact_logo {
    display: none;
  }

  .contact_info_socials {
    padding: 0 25px 0 25px;
  }
}
