.nav {
  width: 100%;
  height: 60px;
  font-family: 'Roboto';
  background-color: #f1f1f1 !important;
  overflow: hidden;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.25);
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
}

.header:has(.sticky) + .main {
  margin-top: 60px;
}

.nav div ul {
  display: flex;
  justify-content: start;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;

  column-gap: 40px;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
}

.nav div ul li {
  font-weight: bold;
  font-size: 17px;
  /* margin: 0 30px 0 0 ; */
}

.activeLink {
  color: #e72485;
}

#menu {
  display: none;
}

.nav div ul img:nth-of-type(1) {
  display: none;
}

@media screen and (max-width: 1100px) {
  #menu {
    display: block;
  }
  .nav div ul li {
    display: none;
  }
  .nav div ul {
    width: 100%;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    /* content: url(../../../../public/logo-2.svg); */
  }

  .nav div ul img:nth-of-type(1) {
    display: block;
    width: 50px;
  }

  /* .nav div ul img:nth-of-type(2) {
    display: none;
    width: 50px;
  } */
}
