@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #2d2e32;
  font-family: 'Rubik', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-y: hidden; */
}

html {
  --scrollbarBG: #fff;
  --thumbBG: #a5a5a5;
}

body::-webkit-scrollbar {
  width: 11px;
}

.no-scroll {
  overflow-y: hidden;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  color: #2a2a2a;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
}

h2 {
  font-family: 'Rubik';
  font-size: 40px;
  margin: 0 0 10px 0;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-weight: 800;
  color: #2d2e32;
  margin-top: 0;
  font-size: 25px;
}

p {
  font-size: 18px;
  margin: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: 'Roboto';
  border: 3px solid black;
  font-size: 18px;
  border-radius: 15px;
  background-color: #fff;
  height: 50px;
  width: 200px;
}

button:hover {
  background-color: #f35800 !important;
  border: 4px solid #f35800 !important;
  color: #fff;
}

button:active {
  background-color: #211e20 !important;
  border: 4px solid #000 !important;
  color: #fff;
}

button:disabled {
  color: lightgray;
  border: 3px solid grey;
}
button:disabled:hover {
  background: #fff !important;
  color: lightgray;
  border: 3px solid grey !important;
}

hr {
  margin: 0;
  border-top: 1px solid lightgray;
}

.container {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  
}

.show {
  animation: showup 0.5s ;
}

.reveal {
  opacity: 0;
}
.colored-span {
  color: #e72485;
}

@media screen and (max-width: 1100px) {
  .container {
    /* width: 100%; */
    /* height: 100%; */
  }
  html {
    scroll-behavior: unset;
  }

  h1 {
    font-size: 21px;
    line-height: normal;
  }
  h2 {
    padding: 0 15px 0 15px;
  }
}

@keyframes showup {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
